<!DOCTYPE html>
<html>
  <head>
    <title>MY WEB -- HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    <ul>
      <!-first game-->
      <li><a href = "games/game1">MY FIRST GAME</a></li>
      <!-greedy snake-->
      <li><a href = "games/greedy_snake">GREEDY SNAKE</a></li>
    </ul>
  </body>
</html>
