<!DOCTYPE html>
<html>
<head>
    <title>I LOVE STUDY</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
</head>
<body>
    <ul>
        <!--My Calculator-->
        <li><a href="study/calculator">My Calculator</a></li>
        <!--My Translator-->
        <li><a href="study/translator">My translator</a></li>
        <!--My Random Num Generator-->
        <li><a href="study/rand_generator">Random Num Generator</a></li>
    </ul>
</body>
</html>