<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MY TRANSLATOR</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- 插入jquery -->
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
</head>
<body>

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="English word..." id="id_e">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="translate">Translate</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

        <span id=result></span>
        <div >
        </div>
    <table class="table">
      <tbody id="append_anchor">
      </tbody>
    </table>
</body>

<script type=text/javascript>
    var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>

<script src="/static/translate.js"></script>

</html>