<!DOCTYPE html>
<html>
  <head>
    <title>MY WEB -- HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    <ul>
      <!--Happy New Year-->
      <li><a href = "collections/happy_new_year">HAPPY NEW YEAR</a></li>
      <!--Quick Eats-->
      <li><a href = "collections/quick_eats">QUICK EATS</a></li>
      <!--Keyboard Hero-->
      <li><a href = "collections/keyboard_hero">KEYBOARD HERO</a></li>
    </ul>
  </body>
</html>
