
<head>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="../static/quick_eats.css" type="text/css" />
</head>

<body>
    <div class="background">
        <div class="whole-menu">
            <header class="header">
                <div class="logo quick-logo">QUICK</div>
                <div class="logo eats-logo">EATS</div>
            </header>
            <div class="container bar-container hotdog-menu">
                <h2 class="bar-title-hotdog">Hot Dogs</h2>
                <div class="items right-spacer">
                    <p><span>Hot Dog</span> <span class="price">3.00</span></p>
                    <p><span>Chilli Dog</span> <span class="price">5.00</span></p>
                    <p><span>Veggie Hot Dog</span> <span class="price">3.00</span></p>
                </div>
            </div>
            <div class="container bar-container burger-menu">
                <h2 class="bar-title-burgurs">Burgers</h2>
                <div class="items left-spacer">
                    <p><span>Hamburger</span>
                        <span class="price">3.00</span>
                    </p>
                    <p><span>Cheeseburger</span>
                        <span class="price">3.50</span>
                    </p>
                    <p><span>Double Cheese</span>
                        <span class="price">4.50</span>
                    </p>
                    <p><span>Veggie Burger</span>
                        <span class="price">3.00</span>
                    </p>
                </div>
            </div>
            <div class="container right-spacer filled-container sides-menu">
                <h2 class="round-titles" id="sides">Glorious<br>Sides</h2>
                <div class="items filled-items">
                    <p><span>Chips</span> <span class="price">1.00</span></p>
                    <p><span>Fries</span> <span class="price">2.00</span></p>
                    <p><span>Sweet Potato Fries</span> <span class="price">3.00</span></p>
                    <p><span>Onion Rings</span> <span class="price">3.00</span></p>
                    <p><span>Cheese sticks</span> <span class="price">3.00</span></p>
                    <p><span>Jalepeno poppers</span> <span class="price">2.00</span></p>
                </div>
            </div>
            <div class="container left-spacer outline-container chili-menu">
                <h2 class="round-titles thin-titles">Chili</h2>
                <div class="items">
                    <p><span>Cup</span> <span class="price">2.00</span></p>
                    <p><span>Bowl</span> <span class="price">4.00</span></p>
                </div>
            </div>
            <div class="container right-spacer outline-container drinks-menu">
                <div class="items">
                    <p><span>20oz</span> <span class="price">1.50</span></p>
                    <p><span>32oz</span> <span class="price">2.00</span></p>
                </div>
                <h2 class="thin-titles" id="opposite-round">Drinks</h2>
            </div>
            <div class="combo-container">
                <p class="combo">COMBO</p>
                <p class="combo-description">Includes a hamburger, veggie burger or a regular hot dog with any side and a drink.</p>

            </div>
            <div class="price-sticker">$5
            </div>

        </div>

    </div>
    <img src="https://assets.codepen.io/1026437/jlSqLogo.png" alt="jl-logo">
</body>
