<!DOCTYPE html>
<html>
  <head>
    <title>MY USUALLY USING WEBSITES</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    {% for tag in tags %}
      <h2>{{tag.tagname}}</h2>
      <ol>
        {% for web in tag.webs %}
          <li><a href = {{web.url}}>{{web.webname}}</a></li>
        {% endfor %}
      </ol>
    {% endfor %}
    <p>
      <input type=text size=10 name=tag     id="id_tagname"  placeholder="Category" >
      <input type=text size=20 name=webname id="id_webname"  placeholder="Web Name" οnfοcus="if(this.value==this.defaultValue){this.value=''}">
      <input type=text size=50 name=weburl  id="id_weburl"   placeholder="URL">
    </p>
    <p><input type="button" id="add_url" value="add"></p>

  </body>
  <script type=text/javascript>
    //添加网址
    $(function() {
        $("#id_weburl").focus(function cls() {
          $("#id_weburl").text("");
        });
        function add_url() {
            $.getJSON('/api/add_url', {
                tagname: $("#id_tagname").val(),
                webname: $("#id_webname").val(),
                weburl: $("#id_weburl").val()
            },
            function(data) {
              window.location.reload()
            });
        };
        // 绑定click事件
        $('#add_url').bind('click', add_url);
        $('#id_tagname').bind('click', add_url);
    });
</script>

</html>