<!DOCTYPE html>
<html>
    <head>
        <title>MY CODES</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
        <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
    </head>
    <body>
        <h1>Choose One Language</h1>
        <div>
            <a href = "/mycodes/c++">C++</a><br>
            <a href = "/mycodes/python">Python</a><br>
            <a href = "/mycodes/java">Java</a>
        </div>
    </body>
</html>