<!DOCTYPE html>
<html>
  <head>
    <title>MY WEB -- HOMEPAGE</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    <h1>Hello User</h1>
    <h3>--This is your home page</h3>
    <!--Some codes I've writen-->
    <a href = "/mycodes">My Codes</a><br>
    <!--My usually using websites' url-->
    <a href = "/backend-dbweb">My usually using websites</a><br>
    <!--My  Calculator-->
    <a href = "/test/jquery/calculator">My Calculator</a><br>
    <!--Logout-->
    <a href = "/logout">Logout</a>
  </body>
</html>