<!DOCTYPE html>
<html>
  <head>
    <title>MY USUALLY USING WEBSITES</title>
  </head>
  <body>
    <h2>Search Engine</h2>
    <ol>
      <li><a href = "https://www.google.com/">Google</a></li>
      <li><a href = "https://www.baidu.com">百度</a></li>
      <li><a href = "https://cn.bing.com">Bing</a></li>
    </ol>
    <h2>Codes</h2>
    <ol>
      <li><a href = "http://www.github.com/">GitHub</a></li>
      <li><a href = "https://codecademy.com/">Code Cademy</a></li>
      <li><a href = "https://www.codewars.com">Code Wars</a></li>
      <li><a href = "https://www.luogu.org/">洛谷</a></li>
      <li><a href = "https://devdocs.io/">DevDocs</a></li>
      <li><a href = "https://www.runoob.com/">菜鸟程序</a></li>
    </ol>
    <h2>Math</h2>
    <ol>
      <li><a href = "https://www.desmos.com/">Desmos</a></li>
    </ol>
    <h2>English</h2>
    <ol>
      <li><a href = "https://home.slz.cnpereading.com/slz-portal/#/login3/CHNW5DHhttps://www.runoob.com/">蓝思Reading</a></li>
    </ol>
    <h2>Study</h2>
    <ol>
      <li><a href = "https://cybermap.kaspersky.com/">Map</a></li>
      <li><a href = "https://y.qq.com/">QQ Music</a></li>
      <li><a href = "https://www.weiciyun.com/">MiniTagCloud</a></li>
      <li><a href = "https://wangyasai.github.io">WANGYASAI</a></li>
    </ol>
  </body>
</html>